#gameOuter {
    float: right;
    right: 50%;
    position: relative;
    margin-bottom: 10px;
}

#gameBackground {
    border: 1px solid black;
    float: right;
    right: -50%;
    position: relative;
    z-index: 0;
}

#gameForeground {
    border: 1px solid black;
    float: right;
    right: -50%;
    position: absolute;
    z-index: 1;
}

#gameText {
    border: 1px solid black;
    float: right;
    right: -50%;
    position: absolute;
    z-index: 2;
}

#bottomInterface {
    width: 100%;
    clear: both;
    float: left;
    position: relative;
}

#controlsOuter {
    width: 30%;
    position: relative;
    float: left;
    left: 5%;
    text-align: center;
}

#controls {
    margin: 0 auto;
}

#play {
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

#pause {
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

#tournamentSelection {
    width: 30%;
    position: relative;
    float: right;
    text-align: right;
}

#repetitions {
    width: 36px;
}

#gameStats {
    width: 30%;
    font-size: 16px;
    position: relative;
    float: left;
    display: table;
    border-collapse: collapse;
}

#tournamentOverview {
    width: 30%;
    font-size: 16px;
    position: relative;
    float: right;
}

.tournamentStats {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border: 1px solid black;
}

.tournamentGameInfo {
    float: right;
}

.playerStats {
    display: table-row;
    border: 1px solid black;
}

.statsPlayerColor {
    border: 1px solid black;
    display: table-cell;
    width: 16px;
}

.statsPlayerName {
    display: table-cell;
    padding-left: 4px;
    text-align: left;
}

.statsPlayerValue {
    display: table-cell;
    padding-left: 2px;
    padding-right: 2px;
    text-align: right;
}

#contestantsSelection {
    width: 30%;
    font-size: 16px;
    position: relative;
    float: left;
    display: table;
    border-collapse: collapse;
}

.playerSelected {
    display: table-cell;
    width: 16px;
}

.contestantSelection {
    display: table-row;
    border: 1px solid black;
}
